/*
author: guanqi;
date: 2019.4.5;
comment: 关于作者
*/


/* 关于作者 */

.me-author {
    box-sizing: border-box;
    margin: 20px auto;
    padding: 10px 15px;
    width: 90%;
    border-radius: 8px;
    border: 1px solid #e3e3e3;
}

.author-row:first-child {
    text-indent: 32px;
}

.author-row {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ddd;
}

.me-author-info {
    list-style: none;
}
