/*
author: guanqi;
date: 2019.4.4;
comment: 消息页面样式
*/

/* 单个列表 */

.msg {
    width: 100%;
}

.msg-item {
    margin: 10px auto;
    padding-left: 20px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #fefefe;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

.msg-item:hover, .msg-son-item:hover {
    background-color: #f1f1f1;
}

.msg-item .iconfont {
    float: left;
    margin-right: 10px;
    font-size: 18px;
}

.msg-item-title {
    float: left;
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    color: #333;
    font-size: 16px;
}

.msg-item-arrow {
    float: right;
    display: block;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    font-size: 24px;
    color: #e3e3e3;
}

/* 一块列表 */
.msg-block {
    margin-bottom: 10px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

.msg-block-item {
    margin: 0;
    background-color: #fefefe;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid #f8f8f8;
}

.msg-block-item:hover {
    background-color: #eee;
}
