/*
author: guanqi;
date: 2019.4.5;
comment: 个人资料样式
*/

.msg-block-item {
    position: relative;
}

.msg-item-title {
    width: 200px;
    text-align: left;
}

.me-personal-mark {
    margin-left: 10px;
    color: #aaa;
    font-size: 16px;
}

.msg-item-status {
    display: block;
    position: absolute;
    top: 10px;
    right: 40px;
    width: 60px;
    height: 25px;
    background-color: #ddd;
    color: #333;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    line-height: 25px;
    text-align: center;
    font-size: 14px;
}

.me-personal-statusa {
    background-color: #32b16c;
    color: #fff;
}

.me-personal-statusb {
    background-color: #e60012;
    color: #fff;
}
